certifi==2019.11.28
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy>=1.9.2
Pillow==5.2.0
requests==2.22.0
scipy>=0.15.1
tpot>=0.11.0
joblib==0.14.0
tensorboard==1.7.0
Keras==2.1.5
tensorflow==1.7.0
Werkzeug==0.15.5
scikit-learn>=0.22.0
cloudpickle>=0.6.0
lungs_finder
imutils
opencv-python
gevent==1.4.0
